---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import type { TPostType } from "@/types";
const entry = (await getEntryBySlug("faq", "index")) as TPostType;
const { title, description, faqs } = entry.data;
const { blok } = Astro.props;

import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { storyblokEditable } from '@storyblok/astro';
import Teaser from "@/storyblok/Teaser.astro";
import Page from "@/storyblok/Page.astro";
import Feature from "@/storyblok/Feature.astro";
import Grid from "@/storyblok/Grid.astro";

// const metadata = {
//   title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
//   ignoreTitleTemplate: true,
// };

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories/faq', {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
const teaser = Teaser;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)} />
      <div class="section row -mt-6">
        {
          faqs?.map((faq) => (
            <div class="col-12 mt-6 md:col-6">
              <div class="p-12  shadow">
                <div class="faq-head relative">
                  <h4 set:html={markdownify(faq.title)} />
                </div>
                <p class="faq-body mt-4" set:html={markdownify(faq.answer)} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
